*.dosoos.com {

    tls {
	    dns cloudflare E8D1r4WK0uTKPk1xMi2B7uJU7bS0d_PdHZcxleJr
    }
    
    @ws {
        path /api
        header Connection *pgrade
        header Upgrade *ebsocket
    }
    reverse_proxy @ws v2ray:58888

    root * /usr/share/caddy

    log {
        format console
    }

    file_server

}
